bitstring==3.1.7
cffi==1.14.4
colorama==0.4.4
cryptography==3.3.1
DateTime==4.3
ecdsa==0.16.1
esptool==3.0
mpfshell==0.9.2
mpfshell-lite==1.0.2
pycparser==2.20
pyserial==3.5
python-dotenv==0.15.0
pytz==2021.1
reedsolo==1.5.4
six==1.15.0
websocket-client==0.57.0
zope.interface==5.2.0
